body {
  background-color: #0b0b20;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.notification {
  padding-top: 99px;
  padding-bottom: 61px;
  display: flex;
  align-items: center;
}

.proPic {
  overflow: hidden;
}

.proPicSmall {
  height: 98px;
  width: 488px;
}

.proPicSmall img {
  margin-right: 10px;
}

/*미해결*/
.proPicSmall:first-child {
  width: 96px; /* 원래 이미지의 너비 */
  height: auto; /* 이미지 비율을 유지 */
  clip-path: inset(0 69px 0 0); /* 상, 우, 하, 좌에서 자를 크기 */
}

.proInfo {
  margin-left: 127px;
}

.infoTitle {
  font-size: 27.7px;
  font-weight: 600;
  text-align: left;
  margin: 0;
  margin-bottom: 35px;
  margin-left: 4px;
}

.dDay {
  width: 119px;
  height: 28px;
  background-color: #72add916;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  margin-left: 7px;
}

.dDay p {
  margin: 0;
}

.groupName {
  font-weight: 200;
  font-size: 23.4px;
  margin: 0px;
  width: 588px;
  padding: 13px 0 13px 0;
  text-align: left;
}

.infoList {
  list-style: none;
  border-top: 1px solid #ffffff;
  font-size: 14.6px;
  font-weight: 200;
  width: 588px;
  margin: 0;
  padding: 0;
}

.infoList li {
  display: flex;
  border-top: 1px solid #ffffff;
  padding: 19px 0 17px 0;
  margin: 0;
}

.infoListTitle {
  font-weight: 200;
  margin: 0;
  margin-right: 63.82px;
  width: 58.4px;
  text-align: left;
}

.infoList li > p {
  text-align: left;
  margin: 0;
}

.infoList li > p > p {
  margin: 0;
}

.infoList li > p > p:last-child {
  margin-top: 5px;
}

.hashtagDiv {
  display: flex;
}

.hashtag {
  text-align: center;
  align-items: center;
  border: 1px solid #4b67d850;
  border-radius: 27px;
  padding: 2px 12px;
  background-color: #72add916;
  font-size: 13.9px;
  margin-right: 10px;
}

.page {
  margin-top: 70px; /*확인해서 수정*/
}

.page span {
  color: #ffffff60;
}

.btnDiv {
  margin-top: 84px;
  display: flex;
  align-items: center;
}

.applyBtn {
  width: 402px;
  height: 56px;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  border: 0;
  background-color: #5e89e2;
  color: #ffffff;
}

.likeBtn,
.bookmarkBtn {
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  border-color: #ffffff;
  border-radius: 3px;
}

.btnDiv button {
  margin-right: 8px;
}
